*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/dotenv/.env.*
public/assets/source_maps
cookbooks/
.vagrant/
vagrant/instantclient_*
vagrant/deploy_key*
*.csv
public/coverage

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

.DS_Store
**/.DS_Store

node_modules
npm-debug.log
