<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Dashboard!</h1>
    <p>You've been invited to try Dashboard 2.0 by <%= @invited_by.full_name %></p>
    <p>To finish your registration, please visit <%= @url %></p>
  </body>
</html>