
<div class="alert alert-info">
  <p>Dashboard is an innovative web application that is not supported by Internet Explorer. Please open in Firefox.</p>

  <p>To access the Firefox browser, please click on the Start menu, and then on Mozilla Firefox. Thank you.</p>
</div>
